body{
  font-family: Arial;
  background: linear-gradient(to right,#6a11cb,#2575fc);
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  margin:0;
  color:white;
}

.difficulty-container,
.quiz-container,
.result-container{
  background:rgba(0,0,0,0.8);
  padding:30px;
  border-radius:15px;
  text-align:center;
}

.quiz-container,
.result-container{
  display:none;
  width:600px;
}

button{
  padding:10px 20px;
  margin:8px;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

.easy{background:green;color:white;}
.medium{background:orange;color:black;}
.hard{background:red;color:white;}

#answers button{
  display:block;
  width:100%;
  margin:8px 0;
  background:#2575fc;
  color:white;
}

.top-bar{
  display:flex;
  justify-content:space-between;
  margin-bottom:10px;
}